<!DOCTYPE html>
<html>
  <head>
    <title>RailsExam1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <div id="logo">
          <%= link_to tweets_path do %>
          <%= image_tag "twitter-logo.png" %>
          <% end %>
        </div>
        <div id="newicon">
          <%= link_to new_tweet_path do %>
          <%= image_tag "post.png" %>
          <% end %>
        </div>
      </header>
      <%= yield %>
      <footer>
      </footer>
    </div>
  </body>
</html>
